doctype html
html(lang='en')
  head
    title Results..
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style(type='text/css').
      .jumbotron {
      background-color: #4F80F6;
      color: #fff;
      padding: 100px 25px;
      }
      .container-fluid {
      padding: 60px 50px;
      }
      .scrollbar {
      margin-left: 30px;
      float: center;
      height: 300px;
      background: #fff;
      overflow-y: scroll;
      margin-bottom: 25px;
      }
      .force-overflow {
      min-height: 450px;
      }
      .scrollbar-primary::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5; }
      .scrollbar-primary::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #4285F4; }
  body
    .jumbotron.text-center
      h1 Trac
      p Defect Tracking and Analysis tool
    .scrollbar.scrollbar-primary
      table.table.table-bordered(align='center')
        tr
          th Issue #
          th Date Updated
          th Age
          th State
          th Severity
          th Priority
          th Assigned To
          th Sub System
          th Short Description
          
          th Releases
          th(colspan='8') User Assinment and Charge Time info
        tr(rowspan='4')
          each doc in docs
           td(rowspan='4')= doc.issueNum
           td(rowspan='4')= moment(doc.dateUpdatedSec*1000).format("DD MMM YYYY hh:mm a")
           td(rowspan='4')= doc.age
           td(rowspan='4')= doc.state
           td(rowspan='4')= doc.severity
           td(rowspan='4')= doc.priority
           td(rowspan='4')= doc.assignedToUserName
           td(rowspan='4')= doc.subsystem
           td(rowspan='4')= doc.shortDescription
           td(rowspan='4')= doc.releases
           td(style='font-weight:bold') User Name
           if doc['issue_assign_hist.userName'] 
           each hist in doc['issue_assign_hist.userName']
            td=hist
           tr
             td(style='font-weight:bold') Issue Assignment History
             each timehr in doc['issue_assign_hist.timeHr']
              td=timehr
           tr
             td(style='font-weight:bold') User Id
             if doc['time_chrg_hist.userId']
              each hist in doc['time_chrg_hist.userId']
               td=hist
             tr
               td(style='font-weight:bold') L3 Charge time
               if doc['time_chrg_hist.timeHr']
                each timehr in doc['time_chrg_hist.timeHr']
                 td=timehr
           tr